@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background-color: rgb(2, 2, 95);
    background-image: url(./img/chasses-au-tresor-le-succes-fulgurant-de-ce-nouveau-loisir-1293976.jpg );
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: 700;
    color: aliceblue;
}

.Titre {
    display: grid;
    place-content: center;
    background-color: #682685;
    margin-top: 20%;
    height: 100px;
}

h1 {
    position: relative;
    color: aliceblue;
}

.login {
    text-align: center;
    margin-top: 30%;
}

.email {
    background-color: #D3C2C2;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
}
.email:focus+.email2,.email:valid+.email2{
    transform: translate(-50%,-50px);
    color: black;
    backdrop-filter: blur(10px);
    padding: 5px, 5px, 0, 5px;
}
.email2{
    position: absolute;
    top: 50%;
    left:50%;
    pointer-events: none;
    transition: transform .2s ease;
    transform: translate(-50%,-50%);
}
.inputbox{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-inline: auto;
}

.btnlog{
    margin-top: 5%;
    background-color: #76B729;
    height: 45px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.inscriptiondiv{
    display: grid;
    place-content: center;
    margin-top: 5%;
    height: 40px;
}

.inscrtxt{
    color: black;
}