*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    color: unset;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

textarea:focus,
input:focus {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

* {
    font-family: Roboto, sans-serif;
    --violet: #462775;
    --vert: #76B729;
    --bleu-ciel: #178FCF;
    --bleu-fonce: #3A2E87;
    --violet-2: #682685;
}

header {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    background-color: var(--violet);
    padding: .5rem 1rem;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.navbar_profile {
    display: grid;
    place-content: center;
    background-color: unset;
    border: none;
    color: #fff;
}

.icon {
    font-size: 2em;
}

.navbar {
    position: fixed;
    top: 4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    width: fit-content;
    margin-left: auto;
    background-color: rgba(70, 39, 117, 0.8);
    backdrop-filter: blur(10px);
    scale: 0;
    opacity: 0;
    visibility: hidden;
}

.navbar.visible {
    scale: 1;
    opacity: 1;
    visibility: visible;
    transition-property: scale, opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease;
    transform-origin: top right;
}

.nav_link {
    text-decoration: underline 2px solid;
    text-underline-offset: 4px;
    color: #fff;
    padding: 0.5em 1em;
    width: 100%;
}

.icon {
    font-size: 2em;
}

.navbar {
    position: fixed;
    top: 4rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    width: fit-content;
    margin-left: auto;
    background-color: rgba(70, 39, 117, 0.8);
    backdrop-filter: blur(10px);
    scale: 0;
    opacity: 0;
    visibility: hidden;
}

.navbar.visible {
    scale: 1;
    opacity: 1;
    visibility: visible;
    transition-property: scale, opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease;
    transform-origin: top right;
}

.nav_link {
    text-decoration: underline 2px solid;
    text-underline-offset: 4px;
    color: #fff;
    padding: 0.5em 1em;
    width: 100%;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bleu-ciel);
    gap: 2rem;
    color: #333;
    z-index: 1;
    margin-top: 1rem;
}

.main {
    background-color: #fff;
    border-radius: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: .5rem;
}

.section:nth-child(2) {
    border-block: 3px solid #333;
}

.title {
    align-self: center;
    margin-bottom: 1.5rem;
    text-decoration: underline 2px solid;
}

.badges_container {
    display: flex;
    gap: 1rem;
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
}